@import '../_common';

body {
    margin: 20px;
}

a {
    &, &:visited {
        color: dodgerblue;
        text-decoration: none;
    }
    &:hover {
        color: orange;
    }
}

ul {
    li {
        line-height: 1.6666666667;
    }
}
